@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #434242;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 73.125rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #ffffff;
  padding: 56px;
  width: 100%;
  max-width: 900px;
}
.lock .popup__content {
  visibility: visible;
}
@media (max-width: 47.99875em) {
  .popup__content {
    padding: 16px;
  }
}
.popup__content_calculate {
  max-width: 550px;
}
.popup__content_message {
  max-width: 461px;
  background-color: #ffffff;
}

.popup__close {
  display: block;
  margin-left: auto;
  margin-right: 0;
  transition: all 0.3s ease 0s;
}
@supports (font-size: clamp( 1.5rem , 1.2727272727rem  +  1.1363636364vw , 2.125rem )) {
  .popup__close {
    font-size: clamp( 1.5rem , 1.2727272727rem  +  1.1363636364vw , 2.125rem );
  }
}
@supports not (font-size: clamp( 1.5rem , 1.2727272727rem  +  1.1363636364vw , 2.125rem )) {
  .popup__close {
    font-size: calc(1.5rem + 0.625 * (100vw - 20rem) / 55);
  }
}
.popup__close_message {
  display: block;
  margin-left: auto;
  transition: all 0.3s ease 0s;
  margin-right: 15px;
  margin-top: 10px;
}
@supports (font-size: clamp( 1.5rem , 1.2727272727rem  +  1.1363636364vw , 2.125rem )) {
  .popup__close_message {
    font-size: clamp( 1.5rem , 1.2727272727rem  +  1.1363636364vw , 2.125rem );
  }
}
@supports not (font-size: clamp( 1.5rem , 1.2727272727rem  +  1.1363636364vw , 2.125rem )) {
  .popup__close_message {
    font-size: calc(1.5rem + 0.625 * (100vw - 20rem) / 55);
  }
}

.calculate__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: bold;
  line-height: 130%;
  padding-bottom: 16px;
  letter-spacing: 0.02em;
  color: #961914;
}
@supports (font-size: clamp( 2rem , 1.8181818182rem  +  0.9090909091vw , 2.5rem )) {
  .calculate__title {
    font-size: clamp( 2rem , 1.8181818182rem  +  0.9090909091vw , 2.5rem );
  }
}
@supports not (font-size: clamp( 2rem , 1.8181818182rem  +  0.9090909091vw , 2.5rem )) {
  .calculate__title {
    font-size: calc(2rem + 0.5 * (100vw - 20rem) / 55);
  }
}
.calculate__text {
  font-weight: normal;
  font-size: 15px;
  line-height: 130%;
  padding-bottom: 42px;
  color: #000000;
}
.calculate__link {
  font-weight: normal;
  font-size: 15px;
  line-height: 130%;
  padding-bottom: 42px;
  color: #961914;
  padding-bottom: 1px;
  box-shadow: inset 0 -1px #961914;
  transition: all 0.3s ease 0s;
}
.calculate__link:hover {
  box-shadow: none;
}
.form__btn {
  width: 100%;
  justify-content: center;
}
.form__item {
  position: relative;
  margin-bottom: 16px;
}
.form__error {
  color: #961914;
  font-size: 12px;
  line-height: 140%;
}
.form__label {
  position: absolute;
  top: 4px;
  left: 16px;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.6);
}
.form__input {
  background: #f4f5f5;
  border-radius: 8px;
  width: 100%;
  height: 48px;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
  display: flex;
  align-items: flex-end;
  transition: all 0.3s ease 0s;
  padding: 16px 16px 0;
}
.form__input:focus-visible {
  transition: all 0.3s ease 0s;
  outline: 1px solid #961914;
}
.form__input_text {
  min-height: 97px;
  transition: all 0.3s ease 0s;
}
.form__input_text::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.6);
  width: 100%;
}

.options {
  margin-bottom: 1.75rem;
}
.options__item:first-child {
  padding-bottom: 12px;
}
.options__input {
  display: none;
}
.options__label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
}
.options__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #434242;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
}
.options__label::after {
  transition: transform 0.5s ease 0s;
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: #961914;
  border: 1px solid #961914;
  border-radius: 50%;
  transform: scale(0);
}

.options__input:checked + .options__label::after {
  transform: scale(1);
}

.checkbox__input {
  display: none;
}
.checkbox__label {
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: #9f9e9d;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.checkbox__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 16px;
  height: 16px;
  border: 1px solid #961914;
  border-radius: 2px;
  margin: 0px 10px 0px 0px;
}
.checkbox__label::after {
  transition: transform 0.5s ease 0s;
  content: "";
  width: 8px;
  height: 6px;
  position: absolute;
  top: 4px;
  left: 5px;
  background: url(../img/003.svg) center/8px 6px no-repeat;
  transform: scale(0);
}

.checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
}

.message {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  height: 200px;
  margin-top: -38px;
}
@supports (width: clamp( 19.0625rem , 15.5170454545rem  +  17.7272727273vw , 28.8125rem )) {
  .message {
    width: clamp( 19.0625rem , 15.5170454545rem  +  17.7272727273vw , 28.8125rem );
  }
}
@supports not (width: clamp( 19.0625rem , 15.5170454545rem  +  17.7272727273vw , 28.8125rem )) {
  .message {
    width: calc(19.0625rem + 9.75 * (100vw - 20rem) / 55);
  }
}
.message__title {
  font-family: "Oswald";
  font-weight: bold;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #961914;
  padding-bottom: 16px;
}
@supports (font-size: clamp( 2rem , 1.8181818182rem  +  0.9090909091vw , 2.5rem )) {
  .message__title {
    font-size: clamp( 2rem , 1.8181818182rem  +  0.9090909091vw , 2.5rem );
  }
}
@supports not (font-size: clamp( 2rem , 1.8181818182rem  +  0.9090909091vw , 2.5rem )) {
  .message__title {
    font-size: calc(2rem + 0.5 * (100vw - 20rem) / 55);
  }
}
.message__text {
  font-weight: normal;
  line-height: 130%;
  text-align: center;
  color: #000000;
}
@supports (font-size: clamp( 0.75rem , 0.6818181818rem  +  0.3409090909vw , 0.9375rem )) {
  .message__text {
    font-size: clamp( 0.75rem , 0.6818181818rem  +  0.3409090909vw , 0.9375rem );
  }
}
@supports not (font-size: clamp( 0.75rem , 0.6818181818rem  +  0.3409090909vw , 0.9375rem )) {
  .message__text {
    font-size: calc(0.75rem + 0.1875 * (100vw - 20rem) / 55);
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.button_darkRed {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 42px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #961914;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.button_darkRed span {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}
.button_darkRed:hover {
  background-color: #75110d;
  box-shadow: none;
}
.button_white {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 42px;
  border: 1px solid #961914;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
  justify-content: center;
  cursor: pointer;
}
.button_white span {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #961914;
}
.button_white:hover {
  background: #ead1d0;
  border: 1px solid #ead1d0;
}
.button_rosso {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 53px;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
  background: #fff4f3;
  cursor: pointer;
}
.button_rosso span {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #ec7973;
}
.button_rosso:hover {
  background: #ead1d0;
  border: 1px solid #ead1d0;
}
.button_rosso:hover span {
  color: #961914;
}
.title {
  font-family: "Oswald";
  font-weight: bold;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
  min-width: 327px;
  flex: 0 1 327px;
}
@supports (font-size: clamp( 2.5rem , 2.3636363636rem  +  0.6818181818vw , 2.875rem )) {
  .title {
    font-size: clamp( 2.5rem , 2.3636363636rem  +  0.6818181818vw , 2.875rem );
  }
}
@supports not (font-size: clamp( 2.5rem , 2.3636363636rem  +  0.6818181818vw , 2.875rem )) {
  .title {
    font-size: calc(2.5rem + 0.375 * (100vw - 20rem) / 55);
  }
}
.title span {
  position: relative;
  z-index: 5;
}
.title span::after {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  left: 5px;
  background: url(../img/header/Ellipse.png) center/contain no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(1.3) rotate(-12.88deg);
}

._navigator-active {
  transition: all 0.3s ease 0s;
  border-bottom: 2px solid #961914;
}

.smile {
  position: relative;
}
.smile::after {
  content: "";
  position: absolute;
  display: block;
  background: url(../img/Group.svg) no-repeat;
  z-index: 0;
  transform: translate(-50%, -70%);
  top: 0;
  left: 0;
  width: 32px;
  height: 28px;
}
@media (max-width: 47.99875em) {
  .smile::after {
    top: -20px;
    left: 30px;
    transform: rotate(0deg);
  }
}

.smiles {
  font-family: "Oswald";
  font-weight: bold;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
  min-width: 327px;
  flex: 0 1 327px;
  position: relative;
}
@supports (font-size: clamp( 2.5rem , 2.3636363636rem  +  0.6818181818vw , 2.875rem )) {
  .smiles {
    font-size: clamp( 2.5rem , 2.3636363636rem  +  0.6818181818vw , 2.875rem );
  }
}
@supports not (font-size: clamp( 2.5rem , 2.3636363636rem  +  0.6818181818vw , 2.875rem )) {
  .smiles {
    font-size: calc(2.5rem + 0.375 * (100vw - 20rem) / 55);
  }
}
.smiles::after {
  background: url(../img/Group.svg) center/contain no-repeat;
  z-index: 0;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 26px;
  height: 32px;
  transform: translate(80%, 50%) rotate(180deg);
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 80px;
}
@media (max-width: 47.99875em) {
  .header {
    min-height: 5px;
  }
}
.header._header-scroll .header__container {
  background-color: #fff;
}
.header._header-scroll .header__logo {
  flex: 0 1 62px;
  height: 62px;
}
@media (max-width: 47.99875em) {
  .header._header-scroll .header__logo {
    flex: 0 1 38px;
    height: 38px;
  }
}
.header._header-scroll .menu__link {
  color: #000000;
}
.header._header-scroll .menu__item:hover a {
  border-bottom: 2px solid #961914;
}
.header._header-scroll .icon-menu span {
  background-color: #000;
}
.header._header-scroll .icon-menu::after {
  background-color: #000;
}
.header._header-scroll .icon-menu::before {
  background-color: #000;
}
.header__container {
  display: flex;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  z-index: 50;
  transition: all 0.5s ease 0s;
}
.header__logo {
  margin: 5px 10px 5px 10px;
  display: flex;
  align-items: center;
}
.header__logo img {
  width: 100%;
}
@media (max-width: 47.99875em) {
  .header__logo {
    flex: 0 1 38px;
    height: 38px;
    align-self: flex-start;
  }
}

.menu {
  padding-right: 15px;
}
.menu__btn {
  display: none;
}
@media (max-width: 47.99875em) {
  .menu__body {
    display: none;
  }
}
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__item {
  transition: all 0.3s ease 0s;
}
.menu__item:not(:last-child) {
  margin-right: 53px;
}
@media (max-width: 61.99875em) {
  .menu__item:not(:last-child) {
    margin-right: 35px;
  }
}
.menu__item:hover a {
  padding-bottom: 3px;
  border-bottom: 2px solid #fff;
}
.menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}

.menu-open .menu__body {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  position: relative;
  z-index: 50;
}
.menu-open .menu__body::after {
  content: "";
  position: absolute;
  display: block;
  top: 100px;
  left: -60px;
  background: url(../img/header/Frame.png) no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.menu-open .menu__body::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  background: url(../img/header/frame2.png) no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@supports (right: clamp( -59.375rem , 14.7727272727rem  +  -98.8636363636vw , -5rem )) {
  .menu-open .menu__body::before {
    right: clamp( -59.375rem , 14.7727272727rem  +  -98.8636363636vw , -5rem );
  }
}
@supports not (right: clamp( -59.375rem , 14.7727272727rem  +  -98.8636363636vw , -5rem )) {
  .menu-open .menu__body::before {
    right: calc(-5rem + -54.375 * (100vw - 20rem) / 55);
  }
}
.menu-open .menu__btn {
  display: inline-flex;
  text-align: center;
  max-width: 230px;
  align-self: center;
  margin-left: -35px;
}
.menu-open .menu__list {
  display: flex;
  flex-direction: column;
  margin-left: -35px;
  position: relative;
  z-index: 50;
}
.menu-open .menu {
  display: flex;
  flex-direction: column;
}
.menu-open .menu__icon {
  align-self: flex-end;
  margin-top: 10px;
}
.menu-open .header__container {
  height: 100%;
  align-items: flex-start;
  background: #fff;
}
.menu-open .header__menu {
  justify-self: center;
  flex: 0 1 100%;
}
.menu-open .menu__link {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #000000;
}
.menu-open .menu__item {
  margin: 0px 0px 0px 0;
  padding-bottom: 40px;
}
.menu-open .icon-menu::before {
  background: #000;
}
.menu-open .icon-menu::after {
  background: #000;
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .footer__container {
    flex-direction: column;
  }
}
.footer__wrapper {
  background: #961914 url(../img/contact-bg.svg) center/cover no-repeat;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 47.99875em) {
  .footer__wrapper {
    padding-top: 60px;
    padding-bottom: 242px;
    background: #961914 url(../img/contact-bg--mb.svg) right/contain no-repeat;
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  flex: 0 1 305px;
  position: relative;
  z-index: 5;
}
.footer__contacts::after {
  content: "";
  position: absolute;
  display: block;
  top: 15%;
  right: -50%;
  background: url(../img/dogfooter.png) center/contain no-repeat;
  width: 110px;
  height: 110px;
  z-index: 0;
  transform: rotate(12deg);
}
@media (max-width: 1102px) {
  .footer__contacts::after {
    top: 25%;
    right: -5%;
  }
}
@media (max-width: 61.99875em) {
  .footer__contacts::after {
    top: 21%;
    right: 0;
  }
}
@media (max-width: 29.99875em) {
  .footer__contacts::after {
    top: 25%;
  }
}
.footer__contacts::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -50%;
  width: 180px;
  height: 180px;
  background: url(../img/meeat.png) center/contain no-repeat;
  z-index: -1;
}
@media (max-width: 1102px) {
  .footer__contacts::before {
    width: 140px;
    height: 140px;
    top: 55%;
    right: -15%;
  }
}
@media (max-width: 61.99875em) {
  .footer__contacts::before {
    top: 40%;
    right: -22%;
  }
}
@media (max-width: 47.99875em) {
  .footer__contacts::before {
    top: 60%;
    right: 0%;
  }
}
@media (max-width: 29.99875em) {
  .footer__contacts::before {
    top: 60%;
    right: -15%;
    width: 120px;
    height: 120px;
  }
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: bold;
  line-height: 130%;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
  color: #ffffff;
}
@supports (font-size: clamp( 2.5rem , 2.3636363636rem  +  0.6818181818vw , 2.875rem )) {
  .footer__title {
    font-size: clamp( 2.5rem , 2.3636363636rem  +  0.6818181818vw , 2.875rem );
  }
}
@supports not (font-size: clamp( 2.5rem , 2.3636363636rem  +  0.6818181818vw , 2.875rem )) {
  .footer__title {
    font-size: calc(2.5rem + 0.375 * (100vw - 20rem) / 55);
  }
}
.footer__sub-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  padding-bottom: 32px;
  color: #ffffff;
}
.footer__phone {
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  padding-bottom: 24px;
  cursor: pointer;
  color: #ffffff;
}
.footer__whatsap {
  display: flex;
  align-items: center;
  width: 223px;
  flex: 0 1 40px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  color: #ffffff;
  transition: all 0.3s ease 0s;
}
.footer__whatsap svg {
  flex: 0 1 24px;
  height: 24px;
  margin-right: 8px;
  margin-left: 12px;
}
.footer__whatsap:hover {
  background: rgba(255, 255, 255, 0.4);
}
.footer__telegram {
  display: flex;
  align-items: center;
  width: 223px;
  flex: 0 1 40px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  transition: all 0.3s ease 0s;
}
.footer__telegram svg {
  flex: 0 1 24px;
  height: 24px;
  margin-right: 8px;
  margin-left: 12px;
}
.footer__telegram:hover {
  background: rgba(255, 255, 255, 0.4);
}
.footer__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}
.footer__instagram {
  padding-bottom: 1px;
  border-bottom: 1px solid #fff;
}
.footer__form {
  flex: 0 1 636px;
  padding: 0 15px;
  position: relative;
  z-index: 5;
}
.footer__form::after {
  content: "";
  position: absolute;
  bottom: -15%;
  right: -20%;
  width: 104px;
  height: 104px;
  background: url(../img/apple.png) center/contain no-repeat;
}
@media (max-width: 47.99875em) {
  .footer__form::after {
    bottom: -26%;
    right: 80%;
  }
}
@media (max-width: 29.99875em) {
  .footer__form::after {
    bottom: -20%;
    right: 60%;
  }
}
@media (max-width: 47.99875em) {
  .footer__form {
    flex: 0 1 auto;
    padding: 0 0;
  }
}
.footer__footer {
  background-color: #69120e;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  gap: 20px;
}
.footer__footer p {
  max-width: 770px;
  padding-right: 20px;
}
@media (max-width: 47.99875em) {
  .footer__footer p {
    padding-bottom: 20px;
  }
}
.footer__footer a {
  padding-right: 20px;
}
@media (max-width: 47.99875em) {
  .footer__footer a {
    padding-bottom: 20px;
  }
}
.footer__copy {
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.4);
}
.footer__link {
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.form-footer__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
  padding-bottom: 4px;
}
@media (max-width: 47.99875em) {
  .form-footer__title {
    margin-top: 30px;
  }
}
.form-footer__sub-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 34px;
}
.form-footer__block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 24px;
}
.form-footer__block div {
  flex: 0 1 50%;
}
@media (max-width: 61.99875em) {
  .form-footer__block {
    flex-direction: column;
  }
  .form-footer__block div {
    flex: 0 1 100%;
  }
}
.form-footer__item {
  position: relative;
}
.form-footer__item textarea {
  resize: none;
}
.form-footer__label {
  position: absolute;
  top: 4px;
  left: 15px;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer__btn {
  width: 214px;
  flex: 0 1 214px;
}
@media (max-width: 61.99875em) {
  .form-footer__btn {
    width: 100%;
    flex: 0 1 auto;
    justify-content: center;
  }
}
.form-footer__input {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 22px 0px 6px 15px;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
}
.form-footer__input:focus-visible {
  outline: none;
  border: 1px solid white;
  background: transparent;
}
.form-footer__input_text {
  min-height: 122px;
  margin-bottom: 22px;
}
.form-footer__input_text::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.6);
}

.checkbox__input {
  display: none;
}

.footer-checkbox__label {
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: #ffffff;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.footer-checkbox__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 16px;
  height: 16px;
  background: #fff;
  border-radius: 2px;
  margin: 0px 10px 0px 0px;
}
.footer-checkbox__label::after {
  transition: transform 0.5s ease 0s;
  content: "";
  width: 8px;
  height: 6px;
  position: absolute;
  top: 4px;
  left: 5px;
  background: url(../img/003.svg) center/8px 6px no-repeat;
  transform: scale(0);
}

.checkbox__input:checked + .footer-checkbox__label::after {
  transform: scale(1);
}

.fulscreen {
  background: url(../img/header/fuulscreen.jpg) center/cover no-repeat;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
@supports (margin-bottom: clamp( 5rem , 2.7272727273rem  +  11.3636363636vw , 11.25rem )) {
  .fulscreen {
    margin-bottom: clamp( 5rem , 2.7272727273rem  +  11.3636363636vw , 11.25rem );
  }
}
@supports not (margin-bottom: clamp( 5rem , 2.7272727273rem  +  11.3636363636vw , 11.25rem )) {
  .fulscreen {
    margin-bottom: calc(5rem + 6.25 * (100vw - 20rem) / 55);
  }
}
@media (max-width: 47.99875em) {
  .fulscreen {
    height: 100vh;
  }
}
.fulscreen__label {
  position: absolute;
  font-family: "Oswald";
  font-weight: 700;
  color: transparent;
  /* прозрачный цвет букв */
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.7);
  bottom: 20%;
  right: -100px;
  transform: rotate(270deg);
}
@supports (font-size: clamp( 7.5rem , 4.7727272727rem  +  13.6363636364vw , 15rem )) {
  .fulscreen__label {
    font-size: clamp( 7.5rem , 4.7727272727rem  +  13.6363636364vw , 15rem );
  }
}
@supports not (font-size: clamp( 7.5rem , 4.7727272727rem  +  13.6363636364vw , 15rem )) {
  .fulscreen__label {
    font-size: calc(7.5rem + 7.5 * (100vw - 20rem) / 55);
  }
}
@media (max-width: 61.99875em) {
  .fulscreen__label {
    right: -150px;
  }
}
@media (max-width: 61.99875em) {
  .fulscreen__label {
    right: -125px;
  }
}
@media (max-width: 47.99875em) {
  .fulscreen__label {
    right: -100px;
  }
}
@media (max-width: 29.99875em) {
  .fulscreen__label {
    right: -92px;
  }
}
.fulscreen__content {
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 29.99875em) {
  .fulscreen__content {
    min-height: 750px;
  }
}
.fulscreen__content a {
  max-width: 228px;
}
@media (max-width: 29.99875em) {
  .fulscreen__content a {
    padding: 13px 35px;
    max-width: 213px;
  }
}
.fulscreen__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: bold;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 407px;
}
@supports (font-size: clamp( 2.75rem , 2.5227272727rem  +  1.1363636364vw , 3.375rem )) {
  .fulscreen__title {
    font-size: clamp( 2.75rem , 2.5227272727rem  +  1.1363636364vw , 3.375rem );
  }
}
@supports not (font-size: clamp( 2.75rem , 2.5227272727rem  +  1.1363636364vw , 3.375rem )) {
  .fulscreen__title {
    font-size: calc(2.75rem + 0.625 * (100vw - 20rem) / 55);
  }
}
@media (max-width: 29.99875em) {
  .fulscreen__title {
    max-width: 300px;
  }
}
.fulscreen__title span {
  position: relative;
  z-index: 5;
}
.fulscreen__title span::after {
  content: "";
  position: absolute;
  display: block;
  top: 5px;
  left: 0px;
  background: url(../img/header/Ellipse.png) center/contain no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(1.1) rotate(-12.88deg);
}
.fulscreen__sub-title {
  font-weight: normal;
  line-height: 140%;
  color: #ffffff;
  max-width: 407px;
  margin-bottom: 1.5625rem;
}
@supports (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
  .fulscreen__sub-title {
    font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
  .fulscreen__sub-title {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 55);
  }
}
@media (max-width: 29.99875em) {
  .fulscreen__sub-title {
    max-width: 280px;
  }
}

@supports (margin-bottom: clamp( 5rem , 2.7272727273rem  +  11.3636363636vw , 11.25rem )) {
  .about__container {
    margin-bottom: clamp( 5rem , 2.7272727273rem  +  11.3636363636vw , 11.25rem );
  }
}
@supports not (margin-bottom: clamp( 5rem , 2.7272727273rem  +  11.3636363636vw , 11.25rem )) {
  .about__container {
    margin-bottom: calc(5rem + 6.25 * (100vw - 20rem) / 55);
  }
}
.about__body {
  display: flex;
  gap: 28px;
  padding-bottom: 80px;
}
@media (max-width: 47.99875em) {
  .about__body {
    flex-direction: column;
    padding-bottom: 0;
  }
}
.about__content {
  flex: 0 1 50%;
}
@media (max-width: 47.99875em) {
  .about__content {
    flex: 0 1 100%;
  }
}
.about__content h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
  padding-bottom: 16px;
}
.about__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  padding-top: 32px;
  padding-bottom: 24px;
}
.about__svg {
  width: 20px;
  height: 21px;
  align-self: flex-start;
  margin-right: 16px;
}
.about__svg svg {
  width: 100%;
}
.about__items {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  position: relative;
  padding-left: 15px;
}
.about__items:not(:last-child) {
  padding-bottom: 15px;
}
.about__items::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 20%;
  left: 0;
  background-color: #961914;
}
.about__img {
  flex: 0 1 50%;
}
@media (max-width: 47.99875em) {
  .about__img {
    flex: 0 1 100%;
  }
}
.about__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__footer {
  display: flex;
  justify-content: space-between;
  gap: 28px;
  padding: 32px 30px;
  background: #ead1d0 url(../img/002.png) center no-repeat;
}
@media (max-width: 47.99875em) {
  .about__footer {
    display: none;
  }
}
.about__footer_mob {
  display: none;
}
@media (max-width: 47.99875em) {
  .about__footer_mob {
    display: block;
    background: #ead1d0 url(../img/002.png) center no-repeat;
    padding: 30px 20px;
  }
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}
.about__adult {
  flex: 0 1 50%;
}
@media (max-width: 47.99875em) {
  .about__adult {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.about__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 200%;
  text-transform: uppercase;
  padding-bottom: 16px;
  color: #000000;
}
.about__list:first-child {
  padding-right: 28px;
}
.about__item {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 20px;
  color: #434242;
}
.about__flex {
  display: flex;
}
@media (max-width: 61.99875em) {
  .about__flex {
    flex-direction: column;
  }
}
.about__puppy {
  flex: 0 1 50%;
}
@media (max-width: 47.99875em) {
  .about__puppy {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@supports (margin-bottom: clamp( 5rem , 2.7272727273rem  +  11.3636363636vw , 11.25rem )) {
  .diet__container {
    margin-bottom: clamp( 5rem , 2.7272727273rem  +  11.3636363636vw , 11.25rem );
  }
}
@supports not (margin-bottom: clamp( 5rem , 2.7272727273rem  +  11.3636363636vw , 11.25rem )) {
  .diet__container {
    margin-bottom: calc(5rem + 6.25 * (100vw - 20rem) / 55);
  }
}
.diet__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 4.375rem;
}
.diet__text {
  max-width: 777px;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  padding-left: 50px;
}
@media (max-width: 47.99875em) {
  .diet__text {
    display: none;
  }
}
.diet__text_footer {
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}
@supports (font-size: clamp( 1.25rem , 1.0681818182rem  +  0.9090909091vw , 1.75rem )) {
  .diet__text_footer {
    font-size: clamp( 1.25rem , 1.0681818182rem  +  0.9090909091vw , 1.75rem );
  }
}
@supports not (font-size: clamp( 1.25rem , 1.0681818182rem  +  0.9090909091vw , 1.75rem )) {
  .diet__text_footer {
    font-size: calc(1.25rem + 0.5 * (100vw - 20rem) / 55);
  }
}
.diet__body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
@media (max-width: 47.99875em) {
  .diet__body {
    display: none;
  }
}
.diet__body_mob {
  display: none;
}
@media (max-width: 47.99875em) {
  .diet__body_mob {
    display: block;
    margin-bottom: 50px;
  }
}
.diet__slider {
  padding-bottom: 15px;
}
.diet__footer {
  background: #ead1d0 url(../img/002.png) center no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  gap: 50px;
}
@media (max-width: 47.99875em) {
  .diet__footer {
    flex-direction: column;
    text-align: center;
    gap: 25px;
    padding: 32px 25px;
  }
}

@media (min-width: 47.99875em) {
  .diet-cards a {
    display: block;
    width: 160px;
  }
}
.diet-cards__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.diet-cards__item:nth-child(1) {
  margin: 0 auto;
}
.diet-cards__content {
  display: flex;
  flex-direction: column;
  position: relative;
}
.diet-cards__content:not(:last-child) {
  padding-right: 26px;
}
.diet-cards__content_popup {
  display: flex;
  gap: 43px;
}
@media (max-width: 47.99875em) {
  .diet-cards__content_popup {
    flex-direction: column;
    gap: 24px;
  }
}
.diet-cards__prew {
  display: flex;
  align-items: center;
  gap: 16px;
}
.diet-cards__prew img {
  max-width: 64px;
  max-height: 64px;
}
.diet-cards__img {
  margin-bottom: 45px;
}
.diet-cards__img_popup {
  margin-bottom: 1.125rem;
}
.diet-cards__img_popup img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 47.99875em) {
  .diet-cards__img {
    height: 50%;
    overflow: hidden;
  }
}
.diet-cards__img img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
.diet-cards__consist {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #434242;
}
.diet-cards__consist span {
  font-weight: 600;
}
@media (max-width: 47.99875em) {
  .diet-cards__consist {
    padding-bottom: 53px;
    padding-top: 14px;
  }
}
.diet-cards__calories {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #434242;
}
.diet-cards__calories span {
  font-weight: 600;
}
@media (max-width: 47.99875em) {
  .diet-cards__calories {
    padding-bottom: 24px;
  }
}
.diet-cards__label {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  width: 60px;
  height: 60px;
}
.diet-cards__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
}
.diet-cards__sub-title {
  font-weight: normal;
  font-size: 13px;
  line-height: 130%;
  color: #9f9e9d;
  padding-bottom: 16px;
}
.diet-cards__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  padding-bottom: 11px;
  color: #434242;
}
.diet-cards__reset {
  font-weight: normal;
  font-size: 13px;
  line-height: 130%;
  color: #9f9e9d;
  padding-bottom: 24px;
}

.why {
  background: url(../img/004.png) center no-repeat;
}
@media (max-width: 47.99875em) {
  .why {
    background-repeat: repeat;
  }
}
@supports (margin-bottom: clamp( 5rem , 2.7272727273rem  +  11.3636363636vw , 11.25rem )) {
  .why__container {
    margin-bottom: clamp( 5rem , 2.7272727273rem  +  11.3636363636vw , 11.25rem );
  }
}
@supports not (margin-bottom: clamp( 5rem , 2.7272727273rem  +  11.3636363636vw , 11.25rem )) {
  .why__container {
    margin-bottom: calc(5rem + 6.25 * (100vw - 20rem) / 55);
  }
}
.why__svg {
  position: relative;
}
.why__svg::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -15px;
  left: 285px;
  background: url(../img/Group.svg) no-repeat;
  width: 30px;
  height: 34px;
  z-index: 0;
  transform: rotate(65deg);
}
.why__title {
  position: relative;
}
.why__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 250px;
  width: 32px;
  height: 28px;
  background: url(../img/Group.svg) center/contain no-repeat;
  transform: translate(80%, 80%) rotate(180deg);
}
.why__items {
  display: flex;
  justify-content: space-between;
  margin-top: 57px;
}
@media (max-width: 47.99875em) {
  .why__items {
    flex-direction: column;
    width: 100%;
  }
}
.why__item {
  display: flex;
  flex-direction: column;
  flex: 0 1 25%;
}
@media (max-width: 47.99875em) {
  .why__item {
    width: 100%;
  }
  .why__item:not(:last-child) {
    padding-bottom: 40px;
  }
}
.why__item:not(:last-child) {
  padding-right: 26px;
}
.why__item svg {
  margin-bottom: 16px;
}
.why__sub-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
  padding-bottom: 8px;
}
.why__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

.care {
  background: #fff4f3;
  padding: 80px 0px 80px 0px;
  overflow: hidden;
}
@supports (margin-bottom: clamp( 5rem , 2.7272727273rem  +  11.3636363636vw , 11.25rem )) {
  .care {
    margin-bottom: clamp( 5rem , 2.7272727273rem  +  11.3636363636vw , 11.25rem );
  }
}
@supports not (margin-bottom: clamp( 5rem , 2.7272727273rem  +  11.3636363636vw , 11.25rem )) {
  .care {
    margin-bottom: calc(5rem + 6.25 * (100vw - 20rem) / 55);
  }
}
.care__container {
  display: flex;
  align-items: center;
}
@media (max-width: 61.99875em) {
  .care__container {
    flex-direction: column-reverse;
  }
}
.care__img {
  position: relative;
  z-index: 1;
  flex: 1 0 auto;
  align-self: flex-start;
  max-width: 556px;
  margin-right: 55px;
}
.care__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/009.svg) center/contain no-repeat;
  transform: scale(1.2);
}
.care__img_first img {
  display: block;
  border-style: none;
  vertical-align: top;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 61.99875em) {
  .care__img {
    margin-right: 0;
    margin-top: 3.125rem;
    align-self: center;
  }
}
.care__dogpicrure {
  position: absolute;
  top: 68%;
  left: -10%;
  width: 120px;
  height: 120px;
  z-index: 1;
}
.care__heart {
  position: absolute;
  top: 38%;
  right: 3%;
  width: 120px;
  height: 120px;
  z-index: 1;
}
.care__content {
  flex: 0 1 auto;
  position: relative;
  z-index: 1;
}
.care__content h2 {
  font-family: "Oswald";
  font-weight: bold;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
  min-width: 327px;
  flex: 0 1 327px;
}
@supports (font-size: clamp( 2.5rem , 2.3636363636rem  +  0.6818181818vw , 2.875rem )) {
  .care__content h2 {
    font-size: clamp( 2.5rem , 2.3636363636rem  +  0.6818181818vw , 2.875rem );
  }
}
@supports not (font-size: clamp( 2.5rem , 2.3636363636rem  +  0.6818181818vw , 2.875rem )) {
  .care__content h2 {
    font-size: calc(2.5rem + 0.375 * (100vw - 20rem) / 55);
  }
}
@media (max-width: 61.99875em) {
  .care__content h2 {
    padding: 0px 15px 0px 15px;
  }
}
.care__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #434242;
  padding: 50px 15px 0px 15px;
}

.questions__container {
  display: flex;
  justify-content: space-between;
}
@supports (margin-bottom: clamp( 5rem , 2.7272727273rem  +  11.3636363636vw , 11.25rem )) {
  .questions__container {
    margin-bottom: clamp( 5rem , 2.7272727273rem  +  11.3636363636vw , 11.25rem );
  }
}
@supports not (margin-bottom: clamp( 5rem , 2.7272727273rem  +  11.3636363636vw , 11.25rem )) {
  .questions__container {
    margin-bottom: calc(5rem + 6.25 * (100vw - 20rem) / 55);
  }
}
@media (max-width: 61.99875em) {
  .questions__container {
    flex-direction: column;
    row-gap: 25px;
  }
}
.questions__left {
  flex: 0 1 40%;
}
@supports (padding-right: clamp( 0.0625rem , -1.4147727273rem  +  7.3863636364vw , 4.125rem )) {
  .questions__left {
    padding-right: clamp( 0.0625rem , -1.4147727273rem  +  7.3863636364vw , 4.125rem );
  }
}
@supports not (padding-right: clamp( 0.0625rem , -1.4147727273rem  +  7.3863636364vw , 4.125rem )) {
  .questions__left {
    padding-right: calc(0.0625rem + 4.0625 * (100vw - 20rem) / 55);
  }
}
.questions__right {
  flex: 0 1 60%;
}
.spollers__item:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}
.spollers__title {
  font-weight: 600;
  line-height: 140%;
  color: #000000;
  text-align: start;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}
@supports (font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem )) {
  .spollers__title {
    font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem )) {
  .spollers__title {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 55);
  }
}
@supports (padding-bottom: clamp( 1.6875rem , 1.5738636364rem  +  0.5681818182vw , 2rem )) {
  .spollers__title {
    padding-bottom: clamp( 1.6875rem , 1.5738636364rem  +  0.5681818182vw , 2rem );
  }
}
@supports not (padding-bottom: clamp( 1.6875rem , 1.5738636364rem  +  0.5681818182vw , 2rem )) {
  .spollers__title {
    padding-bottom: calc(1.6875rem + 0.3125 * (100vw - 20rem) / 55);
  }
}
@supports (padding-top: clamp( 1.6875rem , 1.5738636364rem  +  0.5681818182vw , 2rem )) {
  .spollers__title {
    padding-top: clamp( 1.6875rem , 1.5738636364rem  +  0.5681818182vw , 2rem );
  }
}
@supports not (padding-top: clamp( 1.6875rem , 1.5738636364rem  +  0.5681818182vw , 2rem )) {
  .spollers__title {
    padding-top: calc(1.6875rem + 0.3125 * (100vw - 20rem) / 55);
  }
}
.spollers__title span {
  transition: all 0.3s ease 0s;
}
.spollers__title span::before, .spollers__title span::after {
  content: "";
  transition: all 0.5s ease 0s;
  right: 0;
  position: absolute;
  width: 20px;
  height: 2px;
  height: 0.125rem;
  background-color: #961914;
}
.spollers__title span::before {
  transform: rotate(0deg);
}
.spollers__title span::after {
  transform: rotate(90deg);
}
.spollers__body {
  font-weight: normal;
  line-height: 140%;
  color: #434242;
}
@supports (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
  .spollers__body {
    font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem );
  }
}
@supports not (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
  .spollers__body {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55);
  }
}
@supports (padding-bottom: clamp( 1.6875rem , 1.5738636364rem  +  0.5681818182vw , 2rem )) {
  .spollers__body {
    padding-bottom: clamp( 1.6875rem , 1.5738636364rem  +  0.5681818182vw , 2rem );
  }
}
@supports not (padding-bottom: clamp( 1.6875rem , 1.5738636364rem  +  0.5681818182vw , 2rem )) {
  .spollers__body {
    padding-bottom: calc(1.6875rem + 0.3125 * (100vw - 20rem) / 55);
  }
}

._spoller-active span::after {
  transform: rotate(180deg);
}

@supports (margin-bottom: clamp( 5rem , 2.7272727273rem  +  11.3636363636vw , 11.25rem )) {
  .delivery__container {
    margin-bottom: clamp( 5rem , 2.7272727273rem  +  11.3636363636vw , 11.25rem );
  }
}
@supports not (margin-bottom: clamp( 5rem , 2.7272727273rem  +  11.3636363636vw , 11.25rem )) {
  .delivery__container {
    margin-bottom: calc(5rem + 6.25 * (100vw - 20rem) / 55);
  }
}
.delivery__title {
  padding-bottom: 77px;
}
@supports (padding-bottom: clamp( 1.875rem , 0.8068181818rem  +  5.3409090909vw , 4.8125rem )) {
  .delivery__title {
    padding-bottom: clamp( 1.875rem , 0.8068181818rem  +  5.3409090909vw , 4.8125rem );
  }
}
@supports not (padding-bottom: clamp( 1.875rem , 0.8068181818rem  +  5.3409090909vw , 4.8125rem )) {
  .delivery__title {
    padding-bottom: calc(1.875rem + 2.9375 * (100vw - 20rem) / 55);
  }
}
.delivery__items {
  display: flex;
}
@media (max-width: 47.99875em) {
  .delivery__items {
    flex-direction: column;
    background: url(../img/Arrow.png) right/contain no-repeat;
  }
}
.delivery__svg {
  width: 100%;
  height: 40px;
  margin-bottom: 0.9375rem;
  display: flex;
  gap: 78px;
  align-items: center;
}
.delivery__item {
  flex: 0 1 25%;
  margin-right: 26px;
}
@media (max-width: 47.99875em) {
  .delivery__item {
    width: 96%;
    flex: 0 1 auto;
    margin-right: 0;
    margin-bottom: 1.625rem;
  }
}
@media (max-width: 47.99875em) {
  .delivery__arrow {
    display: none;
  }
}
.delivery__sub-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  padding-bottom: 8px;
  color: #000000;
}
.delivery__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}
.delivery__link {
  border-bottom: #961914 1px solid;
  color: #961914;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  cursor: pointer;
}

::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #ecedee;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 5px;
  background-color: #961914;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #961914;
}

::-webkit-resizer {
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 4px;
}
@charset "UTF-8";
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

/* Пагинация */
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px;
  border-radius: 50%;
  border: 1px solid #961914;
  text-align: center;
  margin-right: 10px;
  margin-top: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #961914;
}

.diet__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */
[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
